.NavLink {
    font-size: 20px;
    font-weight: bold;
}

.navbar {
    opacity: 0.9;
}

.headerImageWrapper {
    text-align: center;
    margin-top: 20vh;
}

.headerImage {
    width: 80%;
    display: inline-block;
}

.titlesContainer {
    text-align: center;
    margin-top: 64px;
}

.mainTitle {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    opacity: 0.87;
    font-size: 45px;
}

.subTitle {
    font-family: 'Roboto', sans-serif;
    opacity: 0.60;
    font-size: 26px;
    padding: 16px;
}

.avatar {
    width: 64px;
    border-radius: 32px;
}

.writerName {
    padding: 16px;
    font-family: 'Roboto', sans-serif;
    opacity: 0.60;
    font-size: 16px;
}

.avatarContainer {
    padding: 16px;
}

.infoWriter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
}

.writerDate {
    padding: 16px;
    font-family: 'Roboto', sans-serif;
    opacity: 0.60;
    font-size: 16px;
}

.bodyTextContainer {
    padding: 32px;
}
.bodyText {
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 12;
    font-size: 21px;
}

.sidebar {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 200px;
    left: 0px;
    overflow-x: hidden;
    padding: 8px 0;
    text-align: center;
}

.sidebarIcons {
    width: 36px;
    border-radius: 16px;
    opacity: 0.4;
    padding: 4px;
}
#starIcon {
    width: 36px;
    border-radius: 16px;
    opacity: 0.4;
    padding: 4px;
}

.startQuizBtn {
    margin-top: 16px;
}

.sidebarTitle {
    margin-bottom: 8px;
    opacity: 0.5;
}

.endingNote {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 12px;
    margin-left: 120px;
    margin-right: 120px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.116);
}

.sidebarIcons:hover {
    -webkit-animation: sidebarIconsAnim 0.5s linear;
    animation-fill-mode: forwards;
}
@-webkit-keyframes sidebarIconsAnim { /* To slowly animate in the opacity  */
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1.0;
    }
}

/* Footer below */

.footer {
    background-color: white;
    padding-top: 32px;
    padding-left: 16px;
    padding-right: 16px;
    border-top: 1px solid rgba(0, 0, 0, 0.158);
}

.copyright {
    text-align: center;
    opacity: 0.8;
    padding-bottom: 32px;
}

.logoFooter {
    display: block;
    padding-bottom: 8px;
}

.bottomBar {
    width: 100%;
    height: 5px;
    background: -webkit-linear-gradient(94deg,#ffc244,#ff6500);
    -webkit-animation: hue 20s infinite linear;
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}