body {
    background-image: url("../img/Wall2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


h1 {
    font-weight: bold;
    font-size: 70px;
    color: salmon;
}

.NavLink {
    font-size: 20px;
    font-weight: bold;
}

.jumbotronContainer {
    height: 50vh;
}