html {
    scroll-behavior: smooth;
}

body {
    background-image: url("../img/Wall2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
}


h1 {
    font-weight: bold;
    font-size: 70px;
    color: salmon;
}

.NavLink {
    font-size: 20px;
    font-weight: bold;
}

.jumbotronContainer {
    height: 50vh;
}

.bouncyBtn {
    width: 60px;
}

.sloganText {

}

.arrowContainer {
    height: 20vh;
}

.coloredTitle {
    color: salmon;
    letter-spacing: 4px;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

.infoContainer {
    margin-top: 35vh;
    background-image: url("../img/TextSlogan.png");
    height: 200px;

    background-attachment: fixed;
    background-position: 90% 50%;
    background-repeat: no-repeat;
    
    background-size: 300px;
}
.coloredSubTitle {
    color: black;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;

}

.cardsRow {
    margin-top: 10vh;
}
.learningButton {
    margin-top: 20vh;
    margin-bottom: 10vh;
}

.cardImg {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin: auto;
    margin-top: 32px;
}