html {
    scroll-behavior: smooth;
}

body {
    background-image: url("../img/Wall2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
}


h1 {
    font-weight: bold;
    font-size: 70px;
    color: salmon;
}

.NavLink {
    font-size: 20px;
    font-weight: bold;
}

.jumbotronContainer {
    height: 50vh;
}

.bouncyBtn {
    width: 60px;
}

.sloganText {

}

.arrowContainer {
    height: 20vh;
}

.coloredTitle {
    color: salmon;
    letter-spacing: 4px;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}

.infoContainer {
    margin-top: 35vh;
    background-image: url("../img/TextSlogan.png");
    height: 200px;

    background-attachment: fixed;
    background-position: 90% 50%;
    background-repeat: no-repeat;
    
    background-size: 300px;
}
.coloredSubTitle {
    color: black;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;

}

.cardsRow {
    margin-top: 10vh;
}
.learningButton {
    margin-top: 20vh;
    margin-bottom: 10vh;
}

.cardImg {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin: auto;
    margin-top: 32px;
}

.infographContainer {
    margin-top: 20vh;
}

.divider {
    height: 2px;
    background-color: salmon;
    opacity: 0.25;
    width: 40%;
    margin: auto;
    margin-top: 10vh;
}

.quizImg {
    height: 600px;
    background-image: url("../img/Quiz.png");
    background-repeat: no-repeat;
    background-size: 150%;
    background-position-x: -100px;
    margin-bottom: 32px;
}

#quizTitle {
    margin-left: 32px;
    margin-top: 64px;
}

#quizSubTitle {
    margin-left: 32px;
}

/* Footer below */

.footer {
    background-color: white;
    padding-top: 32px;
    padding-left: 16px;
    padding-right: 16px;
    border-top: 1px solid rgba(0, 0, 0, 0.158);
}

.copyright {
    text-align: center;
    opacity: 0.8;
    padding-bottom: 32px;
}

.logoFooter {
    display: block;
    padding-bottom: 8px;
}

.bottomBar {
    width: 100%;
    height: 5px;
    background: -webkit-linear-gradient(94deg,#ffc244,#ff6500);
    -webkit-animation: hue 20s infinite linear;
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}