body {
    background-image: url("../img/LandscapeBG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar {
    opacity: 0.9;
}

.NavLink {
    font-size: 20px;
    font-weight: bold;
}

.leftBar {
    background-color:rgba(236, 240, 241,1.0);

}


.midSection {
    background-color: rgba(255, 255, 255, 1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 32px;
}

.rightBar {
    background-color: rgba(255, 255, 255, 1);
    padding: 0;
}

.hiddenBar {
    visibility: hidden;
}

.visibleBar {
    visibility: visible;
}


.mainContainer {
    padding: 0;
    margin: auto;
    margin: 32px;
    padding-left: 12px;
    display: block;
}

.card {
    margin:auto;
    margin-top: 10%;
}

.headText {
    font-family: 'Poppins', sans-serif;
    margin-top: 32px;
    text-align: center;
}

.username {
    margin:16px;
    text-align: center;
    color: white;
    opacity: 0.9;
}

.profileAvatar {
    display: block;
    margin:auto;
}

.userContainer {
    background-color: rgba(44, 62, 80,1.0);
    margin: 0;
    padding-bottom: 16px;
    
}
.resultsContainer {
    background-color: rgba(52, 73, 94,1.0);
    margin: 0;
    padding: 0;
    margin-top: 16px;
    padding-bottom: 86px;
}
.userRow {
    border-bottom: 1px solid rgba(250, 128, 114, 0.2);
}

#xpBar {
    margin-top: 16px;
}

#xpAmount {
    color: white;
    opacity: 0.6;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

#currentLevel {
    color: white;
    font-size: 32px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    opacity: 0.8;
}
.resultsTitle {
    margin-top: 16px;
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    opacity: 0.8;
}

.userProgressbar {
    display: block;
    margin: auto;
}

.labelForProgressOne {
    text-align: center;
    margin-top: 8px;
    color: white;
}

.labelForProgressTwo {
    text-align: center;
    margin-top: 8px;
    color: white;
}

.labelForProgressThree {
    text-align: center;
    margin-top: 8px;
    color: white;
}

.labelForProgressFour {
    text-align: center;
    margin-top: 8px;
    color: white;
}

/* Footer below */

.footer {
    background-color: white;
    padding-top: 32px;
    padding-left: 16px;
    padding-right: 16px;
}

.copyright {
    text-align: center;
    opacity: 0.8;
    padding-bottom: 32px;
}

.logoFooter {
    display: block;
    padding-bottom: 8px;
}

.bottomBar {
    width: 100%;
    height: 5px;
    background: -webkit-linear-gradient(94deg,#ffc244,#ff6500);
    -webkit-animation: hue 20s infinite linear;
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}