body {
    background-image: url("../img/LandscapeBG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.NavLink {
    font-size: 20px;
    font-weight: bold;
}

.navbar {
    opacity: 0.9;
}

.leftBar {
    background-color: rgba(26, 188, 156,1.0);
}

.midSection {
    background-color: white;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}


.rightBar {
    background-color: white;

}

.hiddenBar {
    visibility: hidden;
}

.visibleBar {
    visibility: visible;
}

.question {
    margin: auto;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    margin-bottom: 2%;
}

.questionImage {
    display: block;
    margin: auto;
    max-height: 150px;
}

.questionImageContainer {
    margin-top: 32px;
    margin-bottom: 32px;
}

.choice {
    text-align: center;
    padding: 8%;
    color: white;
    margin: 3%;
}

#choiceOne {
    background-color: rgba(46, 204, 113, 1.0);
    border-radius: 5px;
}

#choiceTwo {
    background-color: rgba(52, 152, 219, 1.0);
    border-radius: 5px;
}

#choiceThree {
    background-color: rgba(155, 89, 182, 1.0);
    border-radius: 5px;
}

#choiceFour {
    background-color: rgba(231, 76, 60, 1.0);
    border-radius: 5px;
}


.choiceText {
    margin: auto;
    font-size: 30px;
}

.choice:hover {
    filter: brightness(0.8);
}

.choiceSelected {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    transform: scale(1.05);
}

.continueBtn {
    display: block;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 10%;
}

.sideQuickLink {
    width: 50px;
    border-radius: 25px;
    text-align: center;
    margin-top: 20px;
}

.backBtn {
    color: white;
    font-weight: bold;
    margin-top: 16px;
    font-size: 20px;
}

.stylizedLink {
    color: white;
    text-align: center;
}
.sideContainer {
    padding: 0;
    text-align: center;
}

.stylizedLink:hover {
    color: lightgray;
}

.sideQuickLinkText {
    color: white;
    text-align: center;
}

.hoveredDark {
    filter: brightness(0.7);
}

.courseImg {
    width: 120px;
    display: block;
    margin: auto;
    margin-top: 32px;
    border-radius: 60px;

    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.80, #27ae60), color-stop(0.20, #2ecc71));
padding: 2px;
}

.quizTitle {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 20px;
    margin-top: 32px;
}

.numberOfQuestions {
    margin-top: 24px;
    text-align: center;
}

.quizBarButtonRow {
    margin-top: 32px;
}

.socialMediaIconContainer {
    margin-top: 200px;
}

.socialMediaIcon {
    display: block;
    margin: auto;
    margin-bottom: 8px;
    opacity: 0.2;
    width: 35px;
}

.socialMediaIcon:hover {
    -webkit-animation: socialMediaAnim 0.5s linear;
    animation-fill-mode: forwards;
 
}

.timer {
    margin-top: 32px;
    font-size: 42px;
    margin-bottom: 16px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.star {
    display: inline-block;
    margin: auto;
    width: 50px;
}
#star1 {
    animation-delay: 0.2s;
}
#star2 {
    animation-delay: 0.4s;
}
#star3{
    animation-delay: 0.6s;
}
#star4 {
    animation-delay: 0.8s;
}
#star5 {
    animation-delay: 1.0s;
}
#star6 {
    animation-delay: 1.2s;
}

.resultLabel {
    text-align: center;
}

.modal-body {
    margin:auto;
}

.starContainer {
    width: 100%;
    display: inline-block;
    margin:auto;
    text-align: center;
    margin-bottom: 32px;
    margin-top: 16px;
}

.noselect {  /* This code make it so that text is not selectable. */
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }


/* Footer below */

.footer {
    background-color: white;
    padding-top: 32px;
    padding-left: 16px;
    padding-right: 16px;
    border-top: 1px solid rgba(0, 0, 0, 0.158);
}

.copyright {
    text-align: center;
    opacity: 0.8;
    padding-bottom: 32px;
}

.logoFooter {
    display: block;
    padding-bottom: 8px;
}

.bottomBar {
    width: 100%;
    height: 5px;
    background: -webkit-linear-gradient(94deg,#ffc244,#ff6500);
    -webkit-animation: hue 20s infinite linear;
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}

@-webkit-keyframes socialMediaAnim {
    from {
        opacity: 0.2;
    }

    to {
        opacity: 1.0;
    }
}